* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #f7f7f7;
  --primary-color: ;
  --secondary-color: ;
  --background-color: ;
  --headertext-color: ;
  --subtext-color: ;
  --container-color: ;
  --scrollbar-track: white;
  --scrollbar-handle: rgb(220,220,220);
  --scrollbar-handle-hover: grey;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: var(--scrollbar-handle);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-handle-hover);
}

/* Header */
.header__prenav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--header-color);
}

.header__prenav-fields {
  padding: 0;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header__prenav--subfield {
  padding: 0;
}

/* Nav */

/* Carousel */
.carousel .carousel-item {
  height: 65vh;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 65vh;
}

.header__updates{
    display: flex;
}

.header__updates-head{
    width: max-content;
    margin-right: 20px;
}


.header__updates marquee{
    width: 100%;
}

.header__updates-news{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}